---
- hosts: localhost
  tasks:
  - name: load conf
    include_vars: "conf.yml"
  - name: clean assets directory
    file:
      path: "{{ asset_dest_directory }}"
      state: absent
  - name: clean assets directory
    file:
      path: "{{ asset_dest_directory }}"
      state: directory
  - name: clean assets directories
    file:
      path: "{{ asset_dest_directory }}/{{ item }}"
      state: directory
    with_items:
      - en
      - es
      - sound
  - name: update and copy sounds
    command: ruby scripts/update_audio_assets.rb {{ asset_src_directory }}/{{ item }} {{ asset_dest_directory }}/{{ item }}
    with_items:
      - en/directories
      - en/community
      - en/operator
      - en/outgoing
      - en/streetroots
      - en/utilities
      - es/directories
      - es/community
      - es/operator      
      - es/outgoing
      - es/streetroots      
      - es/utilities
      - sound/ops
      - sound/streetroots
